<div class="dialog-header">
  <h2>Editar Veículo</h2>
</div>

<form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()" class="dialog-form">
  <div class="form-grid">

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Placa</mat-label>
      <input matInput formControlName="placa" readonly />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Chassi</mat-label>
      <input matInput formControlName="chassi" readonly />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Renavam</mat-label>
      <input matInput formControlName="renavam" readonly />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Modelo</mat-label>
      <input matInput formControlName="modelo" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Marca</mat-label>
      <input matInput formControlName="marca" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Ano</mat-label>
      <input matInput type="number" formControlName="ano" />
    </mat-form-field>
  </div>
  <mat-dialog-actions>
    <button mat-flat-button class="buttonCancel" type="button" (click)="onCancel()">Cancelar</button>
    <button mat-flat-button class="buttonRegister" type="submit" [disabled]="vehicleForm.invalid">Salvar</button>
  </mat-dialog-actions>
</form>