  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 78px;
    z-index: 1000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    background-color: #000;

    .divHeader {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
    }

    .title {
      font-size: 27px;
      font-weight: bold;
      color: #fff;
      font-family: system-ui;
    }

    .icon {
      width: 32px;
      height: 32px;
      object-fit: contain;
    }

    .spacer {
      flex: 1;
    }

    .buttons-container {
      display: flex;
      justify-content: center;
    }

    button {
      color: #fff;
      font-family: system-ui;
      margin-right: 25px;
      background-color: transparent;
    }

    button:hover {
      color: white;
      background-color: #ffbc04;
      border: none;
    }

    .mat-icon {
      color: #000;
    }
  }