.confirm-dialog-container {
    .dialog-header {
        background-color: #f73c27;
        padding: 20px;
        color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        h2 {
            margin: 0;
            font-size: 25px;
            font-weight: 500;
            align-items: center;
            letter-spacing: 0.5px;
        }

        mat-icon {
            font-size: 25px;
        }
    }

    .warn-icon {
        font-size: 28px;
    }

    mat-dialog-content {
        text-align: center;

        p {
            font-size: 16px;
            margin: 0 0 20px 0;
            white-space: pre-line;
            line-height: 2;
        }
    }

    mat-dialog-actions {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    .buttonCancelDialog {
        background-color: transparent;
        color: #8c8c8c;
        border: 2px solid #8c8c8c;
        border-radius: 1rem;
        min-width: 120px;
    }

    .buttonCancelDialog:hover {
        background-color: #8c8c8c;
        color: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    }

    .buttonDeleteVehicle {
        background-color: transparent;
        color: #f73c27;
        border: 2px solid #f73c27;
        border-radius: 1rem;
        min-width: 120px;
        font-size: 15px;
    }

    .buttonDeleteVehicle:hover {
        background-color: #f73c27;
        color: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    }

}